-# = render partial: 'items/frame_upper'
.single__body
  .single__main
    .single__main__frame
      %h3 会員登録
      = form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
        = render "devise/shared/error_messages", resource: resource
        .field
          = f.label :nickname,"ニックネーム"
          .head__icon
            必須
          -# %br/
        = f.text_field :nickname, {placeholder: "例）フリマ太郎", autofocus: true, autocomplete: "nickname",class:"field__form__input"}
        .field
          = f.label :email,"メールアドレス"
          .head__icon
            必須
          -# %br/
        = f.email_field :email, {placeholder: "PCまたは携帯",autocomplete: "email",class:"field__form__input"}
        .field
          = f.label :password,"パスワード"
          .head__icon 
            必須
          -# %br/
        =f.password_field :password,{ placeholder:"7文字以上" , autocomplete: "new-password",class:"field__form__input"}
        .field__form__attend
          ※ 英字と数字の両方を含めて設定してください
        .field
          = f.label :password_confirmation,"確認用パスワード"
          .head__icon
            必須
          
          -# %br/
        = f.password_field :password_confirmation, {placeholder:"7文字以上", autocomplete: "new-password",class:"field__form__input"}
        %h2.field__form__main 本人確認
        %p.field__form__info 
          安心・安全にご利用いただくために、お客さまの本人情報の登録に
          %br ご協力ください。
          他のお客さまに公開されることはありません。
        .field
          = f.label :first_name,"お名前（全角）"
          .head__icon
            必須
        = f.text_field :first_name, {placeholder:"例）山田", autocomplete: "first_name",class:"field__name__input"}
        = f.text_field :last_name, {placeholder:"例）太郎", autocomplete: "last_name",class:"field__name__input"}
        .field
          = f.label :first_name_kana,"お名前カナ（全角）"
          .head__icon
            必須
        = f.text_field :first_name_kana, {placeholder:"例）ヤマダ", autocomplete: "first_name_kana",class:"field__name__input"}
        = f.text_field :last_name_kana, {placeholder:"例）タロウ", autocomplete: "last_name_kana",class:"field__name__input"}
        .field
          = f.label :birth_year,"生年月日"
          .head__icon
            必須
          -# %br/
        .birthday-select
        != sprintf(f.date_select(:birth_year, prefix:'birthday',with_css_classes:'XXXXX', prompt:"--",use_month_numbers:true, start_year:Time.now.year, end_year:1900, date_separator:'%s'),'年','月')+'日'
        .actions
          = f.submit "次へ",class: "btn-default btn-red"
/= render "devise/shared/links"
-# = render partial:  'items/frame_bottom'