.form
  = form_for @item do |f|
    %p 商品画像（必須）
    .post__drop__box__container
      .prev-content
      .label-content
        %label{for: "item_images_attributes_0_image", class: "abel-box", id: "label-box--0"}
          %pre.label-box__text-visible クリックしてファイルをアップロード
      .hidden-content
        = f.fields_for :images do |i|
          = i.file_field :image, class: "hidden-field", name: "item[images_attributes][#{i.index}][image]"
    %p 商品名（必須）
    = f.text_field :name, class: 'input-box__name', placeholder: '40文字まで'
    %p 商品の説明（必須）
    = f.text_field :describe, class: 'input-box__describe', placeholder: '商品の説明（必須1,000文字以内）'
    %p カテゴリー（必須）
    = f.text_field :category, class: 'input-box__category', placeholder: 'カテゴリーを入力'
    %p ブランド（任意）
    = f.text_field :brand, class: 'input-box__brand', placeholder: 'ブランドを入力'
    %p 商品の状態（必須）
    = f.collection_select(:condition_id, Condition.all, :id, :condition, {include_blank: "---"}, {class: "condition-box", id: "condition-box"})
    %p 配送料の負担（必須）
    = f.collection_select(:shipping_charge_id, ShippingCharge.all, :id, :defrayer, {include_blank: "---"}, {class: "shipping_charge-box", id: "shipping_charge-box"})
    %p 発送元の地域（必須）
    = f.collection_select(:prefecture_id, Prefecture.all, :id, :name, {include_blank: "---"}, {class: "prefecure-box", id: "prefecure-box"})
    %p 発送までの日数（必須）
    = f.collection_select(:delivery_date_id, DeliveryDate.all, :id, :date, {include_blank: "---"}, {class: "delivery_date-box", id: "delivery_date-box"})   
    %p 販売価格（必須）
    = f.number_field :price, class: 'input-box__price', placeholder: '¥0'
    %br
    %br
    = f.submit '送信', class: 'send-btn'
