.purchase__contents.body
  = render partial: 'frame_upper'
  .purchase__content__main
    .purchase__content__main__boxes
      %section.box
        %h2.title 購入内容の確認
      %section.box
        .item--title
          .item--image
            %figure.image
              - @item.images.each do |image|
                = image_tag image.image.url, alt: 'イメージ画像'
          .item--detail
            %p.name=@item.name
            %p.prices
              %span.shipping__charge=@shipping_charge
              %span.price="¥#{@item.price}"
      %section.box
        .payment__amount
          %span 支払い金額
          %span.payment="¥#{@item.price}"
      %section.box
        .user__info__box
          - if @default_card_information.present?
            .user__info
              %h3.subtitle 支払い方法
              = link_to credit_cards_path, class:'alter' do
                %span 変更する
            .credit__card
              %p クレジットカード
              %p="**** **** **** #{@default_card_information.last4}"
              %p
                有効期限
                ="#{@default_card_information.exp_month.to_s} / #{@default_card_information.exp_year.to_s.slice(2,3)}"
              = image_tag 'card_logo/visa.svg', alt: 'Visa', class: 'logo'
          - else
            .user__info
              %h3.subtitle 支払い方法
            = link_to credit_cards_path, class:'alter' do
              %span.entry 登録してください
      %section.box
        .user__info__box
          .user__info
            %h3.subtitle 配送先
            -# 配送先登録後の表示(45~46)
            -# = link_to "#", class:'alter' do
            -#   %span 変更する
          -# 配送先未登録時の表示(48~49)
          = link_to new_user_address_path, class:'entry__box' do
            %span.entry 登録してください
          -# 配送先登録後の表示(51~54)
          -# .user__address
          -#   %p 〒453-0014
          -#   %p 愛知県 名古屋市中村区則武1丁目9−19 協和 名駅 ビル6階
          -#   %p 手区明流男
      %section.box
        .enter
          - if @default_card_information.blank?
            %p.attention 支払い方法の入力を完了してください。
          -# 配送先の実装後表示
          -# %p.attention 配送先の入力を完了してください。
          - if @default_card_information.blank?
            %button.enter__box.btn 購入する
          - if @default_card_information.present?
            = button_to '購入する' ,{action: "pay"}, method: :post, class: "enter__permit__box btn"
  = render partial: 'frame_bottom'