.header
  -# ログイン有無でヘッダー部分を変える
  = render partial: 'index_upper_signed_out'

.show-main
  .show-main__item-img
    - @item.images.each do |image|
      = image_tag image.image.url, alt: 'アイテムイメージ', class: "img"
  .product__list__body
    = @item.name    
    .details
      %ul
        %li
          = "#{@item.price}円（税込）"
        %li
          %h1 カテゴリー
          = @item.category.parent.parent.name
          = @item.category.parent.name
          = @item.category.name

.footer
  = render partial: 'index_bottom'