.header
  -# ログイン有無でヘッダー部分を変える
  = render partial: 'index_upper_signed_out'

.show-main
  .show-main__content
    .show-main__content__item-info
      .show-main__content__item-info__item-box
        .show-main__content__item-info__item-box__name
          = @item.name
        .show-main__content__item-info__item-box__image
          - @item.images.each do |image|
            = image_tag image.image.url, size: "140x140", alt: 'アイテムイメージ', class: "show-img"
        .show-main__content__item-info__item-box__price
          = "¥#{@item.price}"
          .show-main__content__item-info__item-box__price-detail
            （税込み）送料込み
        .show-main__content__item-info__item-box__describe
        .show-main__content__item-info__item-box__table
          %table
            %tbody
              %tr
                %th
                  出品者
                %td
                  -# = @item.user.nickname
              %tr
                %th
                  カテゴリー
                %td
                  = @item.category.parent.parent.name
                  %br
                  = @item.category.parent.name
                  %br
                  = @item.category.name
              %tr
                %th
                  ブランド
                %td
                  = @item.brand
              %tr
                %th
                  商品のサイズ
                %td
                  表示(仮)
              %tr
                %th
                  商品の状態
                %td
                  = @item.condition.condition
              %tr
                %th
                  配送料の負担
                %td
                  = @item.shipping_charge.defrayer
              %tr
                %th
                  発送元の地域
                %td
                  = @item.prefecture.name
              %tr
                %th
                  発送日の目安
                %td
                  = @item.delivery_date.date

        .show-main__content__item-info__item-box__optional-area
      
      .show-main__content__item-info__edit-link
        .show-main__content__item-info__edit-link__edit-box
          = link_to edit_item_path(@item.id), class: "edit-btn" do
            編集する
        .show-main__content__item-info__edit-link__delete-box
          = link_to item_path(params[:id]), method: :delete, class: "delete-btn" do
            削除する

      .show-main__content__item-info__comment-box

.footer
  = render partial: 'index_bottom'